body {
    background-color: rgb(0, 0, 0);
}




.banner {
    height: 100vh;
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul {
    color: rgb(255, 255, 255);
    margin-left: 5px;
    text-align: center;
    padding-block-start: 5px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.424);

    font-size: 15px;



}



.ukuranbuku {
    width: 1px;



}






.gelap {
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* reponsive */
@media(min-width:321px) and (max-width:425px) {
    section#box-profile {
        width: 90px;
        height: 630px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
    }

    .menu-mobile {
        top: 20px;
        right: 10%;
        display: inline-block;
    }



}

/* footer */

.contact-info-wrap-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.icon-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid rgba(0, 128, 128, 0.6);
    padding: 3px;
    margin: 5px 0 0 0;
}

.icon-teal-form {
    color: teal;
}

.p-contact-lg {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 15px;
    font-size: .75rem;
}

.form-style-md {
    padding: 0.100rem 0.25rem;
    font-size: .7rem;
    border: none;
    border-bottom: 1px solid teal;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-radius: 0;
}

.form-style-md:focus {
    color: #212529;
    background-color: rgba(0, 128, 128, 0.15);
    border-color: rgba(0, 128, 128, 0.3);
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

.contact-md-bg {
    background-color: teal;
    background-image: url(../Assets/Contact/Background/teal-mail.jpg );
    background-size: cover;
    background-position-x: -200px;
    position: relative;
}
